.footer{
  padding: 10px 40px;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .1);
  height: 200px;
  background-color: rgb(80, 80, 80);
  color: rgb(200, 200, 200);
}
.footer a{
  color: #1E6CAC;
  text-decoration: none;
}
.footer h2{
  font-size: 16px;
  font-weight: lighter;
  text-align: center;

}
.list-inline {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 31px;

}

.list-inline a:hover{
  color: rgba(0, 0, 255, .2);
}
